@import "../tools/colors.tools";
@import "../tools/sizes.tools";

$control-box-spacing: 2px;
$control-standard-box-padding: $control-box-spacing (2 * $control-box-spacing);

%control {
  box-sizing: border-box;
  background-color: transparent;
  font-family: inherit;
  font-size: $input-font-size;
}

// TODO visually distinguish better between radios, checkboxes, and buttons. At the moment they look almost identical.

%pressable-control {
  @extend %control;
  padding: $control-standard-box-padding; // XXX not sure I like having this here, but a default is probably wise

  background-color: $grey;
  color: $white;
  text-align: center;

  //&:active,  //FIXME flickers a bit when you release a click
  &[checked] {
    background-color: $crimson;
  }
}

%pressable-grid {
  display: inline-grid;
  grid-gap: $control-box-spacing;

  li,
  label {
    display: block;
    margin: 0;
  }
}

%control-border {
  border: 1px solid $black;
}

%control-focus {
  outline: $crimson auto 5px; // XXX could maybe be made better?
}
